*{
    margin:0;
    padding:0;
    font-family: "Segoe UI",Arial,sans-serif;
    overflow-x: hidden;
}
header{
    position: relative;
    box-sizing: inherit;
    display: block;
    margin-bottom: 50px;
}
header>img{
    width: 100%;
}
.innerContainer{
    width: 60%;
    background-color: rgba(255, 204, 0, 0.499);
    position: absolute;
    bottom: 90px;
    left: 0;
    padding:10px
}
.innerContainer:hover{
    background-color: rgba(255, 119, 0, 0.4);;
}
main>div{
    width: 90%;
    display: grid;
    gap:5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.pieceofrow>img{
    border-top: 5px solid rgb(255, 149, 0);
    width: 95%;
    object-fit: cover;
}
p{
    font-size: 20px;
}
h2{
    font-weight: 500;
}
@media (max-width:602px) {
    .innerContainer{
        display: none;
    }
    main>div{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .pieceofrow>img{
        width: 100%;
    }
}